.forgot-container {
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: "Open Sans";


  > .content {
    width: 330px;
    // padding: 2rem;

    > h1 {
      font-size: 1.875rem;
      font-weight: 600;
      line-height: 2.375rem;
    }
    > p {
      margin-top: 2rem;
      font-size: 1.125rem;
    }
    > form {
      > label {
        // width: 100%;

        > p {
            width: 200px;
          margin-bottom: 0.5rem;
          font-size: 0.875rem;
          line-height: 1.375rem;
          > sup {
            color: red;
          }
        }
        > input {
          width: 275px;
          padding: 12px;
          border-radius: 0.5rem;
          border: none;
          &:focus {
            border: none;
          }
        }
      }
      > button {
        margin-top: 2rem;
        width: 300px;
        border-radius: 8px;
        padding: 12px 0;
        font-weight: 600;
        border: none;
        background-color: yellow;
      }
    }
    > div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: black;
      gap: 0 1rem;
      > .back {
        text-decoration: none;
        color: wheat;
        > p {
          display: flex;
          align-items: center;
          gap: 2px;
        }
      }
    }
  }
}
